*{
    margin: 0;
    padding: 0;
}

.cart-container{
    display: flex;
    justify-content: center;
}

.cart-image img{
    width: 285px;
}

.cart-title{
    background-color: #509FB9;
    width: 285px;
    
    
}

.facilisis{
    width: 270px;
    margin: 15px 0;
   text-align: justify;
   border-left: 2px solid #509FB9; 
   padding-left: 10px;

}

.cart{
    padding: 15px;
    width: 285px;
}